body {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #14181a;
}

.center {
    text-align: center;
}

/* NAVIGATION */
nav {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #ffff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
nav.navi ul li a {
    position:relative;
    z-index: 1;
}
nav.navi ul li a:hover {
        color: #14181a;
}
nav.navi ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1em;
    content: '.';
    color: transparent;
    background: #4071F4;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
nav.navi ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* index.html*/
.pf {
    float:left;
    margin-left: 25%;
    margin-top: 5%;
}
.welkom-text {
    color: #ffff;
    float:left;
    margin-top: 12%;
    margin-left: 2%;
}

/* Over mij.html*/
.over-mij h1 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 7%;
}
.over-mij p{
    font-size: 24px;
    color: white;
    text-align: center;
}
.button {
    position: fixed;
    width: 200px;
    margin-left: 45%;
    margin-top: 2%;
    text-align: center;
    height: 35px;
    background: #4071F4;
}
.button a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: #14181a;
}

/* Vaardigheden.html */
.vakhouder {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 50px;
    grid-auto-flow: column;
    justify-content: space-around;
    justify-items: center;
    width: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.vak {
    font-size: 24px;
    width: 350px;
    height: 50px;
    text-align: center;
    background: #4071F4;
}

/* projecten.html*/
.boxholder {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 20px;
    grid-auto-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    width: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    width: 250px;
    height: 250px;
    background: #4071F4;
}

/* contact.html*/
.mailvak {
    position: fixed;
    width: 250px;
    margin-left: 43%;
    margin-top: 5%;
    text-align: center;
    height: 65px;
    background: #4071F4;
}
.mailvak a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: #14181a;
}
footer {
    color: white;
    margin-left: 43%;
    margin-top: 37%;
}

